<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <form>
        <p>로그인에 성공했습니다.</p>
        <p th:text="${authInfo.email}" name="email" value="${authInfo.email}"></p>
        <p th:text="${authInfo.id}" name="id" value="${authInfo.id}" ></p>
        <p th:text="${authInfo}" name="authInfo" value="${authInfo}" ></p>
        <p><a href="/main" modelAttribute="authInfo">[메인으로 이동]</a> </p>
    </form>
</body>
</html>